<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="examples.csci567.testfinalproject" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.example.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReminderOptions"
            android:label="@string/title_activity_reminder_options" >
        </activity>
        <activity
            android:name=".Birthday"
            android:label="@string/title_activity_birthday" >
        </activity>

        <receiver android:name=".MyReceiver" />
        <receiver android:name=".Receiver_meet" />
        <receiver android:name=".Receiver_pay" />

        <activity
            android:name=".meeting"
            android:label="@string/title_activity_meeting" >
        </activity>
        <activity
            android:name=".sendmessage"
            android:label="@string/title_activity_sendmessage" >
        </activity>
        <activity
            android:name=".getLocation"
            android:label="@string/title_activity_get_location" >
        </activity>
        <activity
            android:name=".payments"
            android:label="@string/title_activity_payments" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>
    </application>

</manifest>
